/*
    Name:       mminimal 1.1.1
    Author:     Török Ádám (http://github.com/Aerobird98)
    Original Atom One Dark Theme (https://github.com/atom/minimal-ui & https://github.com/atom/minimal-syntax)
*/

/* basic */
.cm-s-minimal {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-weight: 350;
  font-size: 18px;
  color: #abb2bf;
  background-color: #282c34;
}
.cm-s-minimal .CodeMirror-selected {
  background-color: #3e4451;
}
.cm-s-minimal .CodeMirror-gutter,
.cm-s-minimal .CodeMirror-gutters {
  border: none;
  background-color: #282c34;
}
.cm-s-minimal .CodeMirror-linenumber,
.cm-s-minimal .CodeMirror-linenumbers {
  color: #5c6370 !important;
  background-color: transparent;
}
.cm-s-minimal .CodeMirror-lines {
  color: #abb2bf !important;
  background-color: transparent;
}
.cm-s-minimal .CodeMirror-cursor {
  border-left: 2px solid #56b6c2 !important;
}
/* addon: edit/machingbrackets.js & addon: edit/matchtags.js */
.cm-s-minimal .CodeMirror-matchingbracket,
.cm-s-minimal .CodeMirror-matchingtag {
  border-bottom: 2px solid #56b6c2;
  color: #abb2bf !important;
  background-color: transparent;
}
.cm-s-minimal .CodeMirror-nonmatchingbracket {
  border-bottom: 2px solid #e06c75;
  color: #abb2bf !important;
  background-color: transparent;
}
/* addon: fold/foldgutter.js */
.cm-s-minimal .CodeMirror-foldmarker,
.cm-s-minimal .CodeMirror-foldgutter,
.cm-s-minimal .CodeMirror-foldgutter-open,
.cm-s-minimal .CodeMirror-foldgutter-folded {
  border: none;
  text-shadow: none;
  color: #5c6370 !important;
  background-color: transparent;
}
/* addon: selection/active-line.js */
.cm-s-minimal .CodeMirror-activeline-background {
  background-color: rgba(153, 187, 255, 0.04);
}
/* basic syntax */
.cm-s-minimal .cm-header {
  color: #e06c75;
}
.cm-s-minimal .cm-quote {
  color: #5c6370;
  font-style: italic;
}
.cm-s-minimal .cm-negative {
  color: #e06c75;
}
.cm-s-minimal .cm-positive {
  color: #e06c75;
}
.cm-s-minimal .cm-strong {
  color: #d19a66;
  font-weight: bold;
}
.cm-s-minimal .cm-header .cm-strong {
  color: #d19a66;
  font-weight: bold;
}
.cm-s-minimal .cm-em {
  color: #c678dd;
  font-style: italic;
}
.cm-s-minimal .cm-header .cm-em {
  color: #c678dd;
  font-style: italic;
}
.cm-s-minimal .cm-tag {
  color: #e06c75;
}
.cm-s-minimal .cm-attribute {
  color: #d19a66;
}
.cm-s-minimal .cm-link {
  color: #98c379;
  border-bottom: solid 1px #98c379;
}
.cm-s-minimal .cm-builtin {
  color: #e06c75;
}
.cm-s-minimal .cm-keyword {
  color: #c678dd;
}
.cm-s-minimal .cm-def {
  color: #e5c07b;
} /* original:  #d19a66; */
.cm-s-minimal .cm-atom {
  color: #d19a66;
}
.cm-s-minimal .cm-number {
  color: #d19a66;
}
.cm-s-minimal .cm-property {
  color: #56b6c2;
} /* original: #abb2bf */
.cm-s-minimal .cm-qualifier {
  color: #d19a66;
}
.cm-s-minimal .cm-variable {
  color: #e06c75;
}
.cm-s-minimal .cm-string {
  color: #98c379;
}
.cm-s-minimal .cm-punctuation {
  color: #abb2bf;
}
.cm-s-minimal .cm-operator {
  color: #56b6c2;
} /* original: #abb2bf */
.cm-s-minimal .cm-meta {
  color: #abb2bf;
}
.cm-s-minimal .cm-bracket {
  color: #abb2bf;
}
.cm-s-minimal .cm-comment {
  color: #5c6370;
  font-style: italic;
}
.cm-s-minimal .cm-error {
  color: #e06c75;
}
/* css syntax corrections */
.cm-s-minimal .cm-m-css.cm-variable {
  color: #828997;
}
.cm-s-minimal .cm-m-css.cm-property {
  color: #abb2bf;
}
.cm-s-minimal .cm-m-css.cm-atom {
  color: #56b6c2;
}
.cm-s-minimal .cm-m-css.cm-builtin {
  color: #56b6c2;
}
/* lua syntax corrections */
.cm-s-minimal .cm-m-lua.cm-variable {
  color: #56b6c2;
}
